<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.webapp.module.business.peony.dao.PeonyDao">

    <resultMap id="PeonyVO" type="io.webapp.module.business.peony.domain.vo.PeonyVO"></resultMap>
    <resultMap id="PeonyExcelVO" type="io.webapp.module.business.peony.domain.vo.PeonyExcelVO"></resultMap>


    <select id="queryByPage" resultMap="PeonyVO">
        select
          id,
          kind,
          name,
          color,
          image_url,
          created_at,
          updated_at
        from t_peony
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.kind != null and queryDTO.kind != ''">
                AND INSTR(kind,#{queryDTO.kind})
            </if>
            <if test="queryDTO.name != null and queryDTO.name != ''">
                AND INSTR(name,#{queryDTO.name})
            </if>
            <if test="queryDTO.color != null and queryDTO.color != ''">
                AND INSTR(color,#{queryDTO.color})
            </if>

            <if test="queryDTO.createdAtBegin != null ">
                AND created_at &gt;= #{queryDTO.createdAtBegin}
            </if>
            <if test="queryDTO.createdAtEnd != null ">
                AND created_at &lt;= #{queryDTO.createdAtEnd}
            </if>

            <if test="queryDTO.updatedAtBegin != null ">
                AND updated_at &gt;= #{queryDTO.updatedAtBegin}
            </if>
            <if test="queryDTO.updatedAtEnd != null ">
                AND updated_at &lt;= #{queryDTO.updatedAtEnd}
            </if>
        </where>
    </select>

    <select id="queryAllExportData" resultMap="PeonyExcelVO">
        select
           id,
           kind,
           name,
           color,
           image_url,
           created_at,
           updated_at
        from t_peony
        <where>
            <if test="queryDTO.id != null">
                AND id = #{queryDTO.id}
            </if>
            <if test="queryDTO.kind != null and queryDTO.kind != ''">
                AND INSTR(kind,#{queryDTO.kind})
            </if>
            <if test="queryDTO.name != null and queryDTO.name != ''">
                AND INSTR(name,#{queryDTO.name})
            </if>
            <if test="queryDTO.color != null and queryDTO.color != ''">
                AND INSTR(color,#{queryDTO.color})
            </if>

            <if test="queryDTO.createdAtBegin != null ">
                AND created_at &gt;= #{queryDTO.createdAtBegin}
            </if>
            <if test="queryDTO.createdAtEnd != null ">
                AND created_at &lt;= #{queryDTO.createdAtEnd}
            </if>

            <if test="queryDTO.updatedAtBegin != null ">
                AND updated_at &gt;= #{queryDTO.updatedAtBegin}
            </if>
            <if test="queryDTO.updatedAtEnd != null ">
                AND updated_at &lt;= #{queryDTO.updatedAtEnd}
            </if>
        </where>
    </select>

    <select id="queryBatchExportData" resultMap="PeonyExcelVO">
        select
         id,
         kind,
         name,
         color,
         image_url,
         created_at,
         updated_at
        from t_peony
        where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

    <delete id="deleteById">
        delete from t_peony where id = #{id}
    </delete>

    <delete id="deleteByIdList">
        delete from t_peony where id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>
